snippet {{{
$1 {{{
${VISUAL}
}}}
endsnippet

snippet 're "iabbrev replacement" i
’re
endsnippet

snippet 've "iabbrev replacement" i
’ve
endsnippet

snippet timestmap "timestamp spelling correction" i
timestamp
endsnippet

snippet Timestmap "Timestamp spelling correction" i
Timestamp
endsnippet
